* {
  box-sizing: content-box;
  scroll-behavior: smooth;
}
@media (min-width: 100px) and (max-width: 600px) {
  .textCenter {
    text-align: center;
  }
  .btnStyle {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .companyImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .infoCard {
    display: grid;
    justify-content: center;
  }
  .infoCard > img {
    /* height: 50%; */
    width: 100%;
  }
  .textCenter {
    text-align: center;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .heroImage {
    height: 55%;
    right: 5%;
    bottom: 8%;
  }
  .btnStyle {
    width: 65%;
    position: relative;
  }
  .textCenter {
    text-align: center;
  }
  .infoCard {
    display: grid;
    justify-content: center;
  }
  .infoCard > img {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .heroImage {
    height: 75%;
    bottom: 8%;
    right: 15%;
  }
  .cardImg {
    height: 90%;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .btnStyle {
    width: 60%;
    position: relative;
  }
}
@media (min-width: 900px) and (max-width: 1290px) {
  .heroImage {
    height: 65%;
    bottom: 8%;
    right: 5%;
  }
  .btnStyle {
    width: 80%;
    position: relative;
  }
  .infoCardS > img {
    width: 90%;
  }
}
